.root {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(92, 194, 194);
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 40px;
}

#header-search {
    border: none;
    border-radius: 4px;
    outline: none;
    height: 25px;
    width: clamp(100px, 50vw, 500px);
}

#header-bttn {
    border: none;
    border-radius: 4px;
    height: 25px;
}

#header-bttn:hover {
    background-color: rgb(204, 204, 204);
}

#header-bttn:active {
    background-color: rgb(158, 158, 158);
    color: white;
}

.headline {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(31, 143, 143);
    color: white;
}

#date {
    font-size: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(18, 114, 114);
    color: white;
}

.info .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.info .box .sub-box {
    display: flex;
    gap: 10px;
}


#loading {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
      
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}