.root {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(92, 194, 194);
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 40px;
}

.header-search {
    border: none;
    border-radius: 4px;
    outline: none;
    height: 25px;
    width: clamp(100px, 50vw, 500px);
}

.header-bttn {
    border: none;
    border-radius: 4px;
    height: 25px;
}

.info {
    display: flex;
}

.info .box {
    width: 200px;
    height: 100px;
    border: solid 1px black;
}