.root {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(92, 194, 194);
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 40px;
}

.header-search {
    border: none;
    border-radius: 4px;
    outline: none;
    height: 25px;
    width: clamp(100px, 50vw, 500px);
}

.header-bttn {
    border: none;
    border-radius: 4px;
    height: 25px;
}

.headline {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(31, 143, 143);
    color: white;
}

#date {
    font-size: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(18, 114, 114);
    color: white;
}

.info .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.info .box .sub-box {
    display: flex;
    gap: 10px;
}